
.hover-op{
  opacity: 0.5;
}

.frcc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frbc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.frec{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.frac{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.frsc{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.fccc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fcbc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fcbs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.fcas{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.fcbe{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.fcac{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.fcsc{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.fcae{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
